*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-1: #131313;
    --dark-2: #727272;
    --primary-color: #FF900E;
}
.dark-light-color{
    color: var(--dark-2);
}
.primary-color{
    color: var(--primary-color);
}
.primary-btn{
    width: 180px;
    height: 64px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #ffff;
}
/*----------- header area css start -------------*/

header{
    background-color: rgba(255, 144, 14, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}
/* nav area css start */

nav{
    display: flex;
    width: 80%;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}
nav h1{
    font-size: 45px;
    font-weight: 700;
    color: var(--dark-1);
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}




/* nav area css end */
.banner-area{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.banner-title{
    text-align: center;
    width: 550px;
    margin: 50px auto;
}
.banner-title h1{
    font-size: 64px;
    font-weight: 700;
    color: var(--dark-1);
    margin-bottom: 30px;
}
.banner-title p{
    font-size: 16px;
    color: var(--dark-2);
    margin-bottom: 30px;
}
.banner-img img{
    width: 100%;

}




/*-----------header area css end ----------------*/


/*-----------features area css start----------------*/
.container{
    display: flex;
    margin: 50px auto;
}
.features-img-area{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features-img-area div{
    width: 300px;
}
.features-img-area div img{
    width: 100%;
}
.features-explore{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 60px 0 75px ;
    gap: 24px;

}
.features-explore h1{
    font-size: 45px;
    font-weight: 700;

}

/*-----------features area css end ----------------*/
/* features details area css start */
.features-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 55px;
    margin-top: 100px;
}
.features-list-title{
    width: 400px;
    margin-bottom: 24px;
    padding-left: 20px;
    border-left: 8px solid #FF900E;
}
.features-list-title h1{
    font-size: 45px;
    font-weight: 700;
    color: var(--dark-1);
}
.features-list-title p{
    font-size: 16px;
    color: var(--dark-2);
}
.single-card{
    padding: 30px;
    box-shadow: 2px 2px 5px 5px rgb(21 21 21 / 8%);
    margin: 20px 0 30px;
    
}
.single-card h2{
    font-size: 20px;
    font-weight: 700;
    color: var(--dark-1);
    margin-bottom: 10px;
}

.experience-year button{
    border: none;
    background-color: var(--primary-color);
    color: #ffff;
    width: 300px;
    height: 200px;
    border-radius: 8px;
}
.experience-year button h1{
    font-size: 65px;
    font-weight: 700;
}
.experience-year p{
    font-size: 25px;
    font-weight: 500;
}
.features-architect-img{
    position: relative;
}
/* features details area css end */

/* fact area css start */
.fact{
    text-align: left;
}
.fact div{
    width: 500px;
}
.fact div h1{
    font-size: 45px;
    font-weight: bold;
    color: var(--dark-1);
    margin-bottom: 20px;
}
.fact div p{
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-2);
}

/* fact area css end */
 
/* work section start */
.work-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    justify-items: center;
    margin: 100px auto;

}
.work-section div{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.work-section div h1{
    font-size: 45px;
    font-weight: 600;
    color: var(--dark-1);
}





/* work section  end*/




/*----------sponsors-area css start----------------*/
.sponsors-area{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sponsors-title{
    text-align: center;
    width: 542px;
}
.sponsors-title h1{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 25px;
}
.sponsors-title p{
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-2);
}
.sponsors-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}


/*----------sponsors-area css end----------------*/

/* footer area css start */
footer{
    background-color: #FFF4E7;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

/* footer area css end */